doctype html
html(ng-app = 'hellonode')
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='script', href='/js/bootstrap.min.js')
    link(rel='script', href='/js/angular.min.js')
    body
    block content