doctype html
html(ng-app = 'hellonode')
    head
        title= title

        //include includes/metaInfo
        //include includes/styles
        //include includes/scripts
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src='js/lib/jquery-1.11.0.min.js')
        script(src='js/lib/bootstrap.min.js')
        script(src='js/lib/angular.min.js')

        block scripts

    body
        block content
