extends layout
block content

    form.form-horizontal(method = "POST", action= "/posts")
        div.form-group
            label.col-sm-2.control-label Title
            div.col-sm-3
                input.form-control(type = "text", name = "title")
        div.form-group
            label.col-sm-2.control-label Author
            div.col-sm-3
                input.form-control(type = "text", name = "author")
        div.form-group
            label.col-sm-2.control-label Body
            div.col-sm-8
                textarea.form-control(rows=6, name = "body")
        div.form-group
            div.col-sm-offset-2.col-sm-10
                button.btn.btn-default Submit

