extends layout
block content

    div.container(ng-controller= "AppCtrl")
        h1 Posts
        ul(ng-repeat='post in airports')
            li{{post.code}}
            li{{post.name}}
            li{{post.city}}

block scripts

    link(rel='script', href='/js/post_controller.js')
