extends layout
block content
        div.container(ng-controller='PostsCtrl')
            h1 Posts
            br
            div(ng-repeat='post in posts')
                h4 {{post.title}} by
                    span.alert-warning {{post.author}}
                p
                    | {{post.body}}



block scripts
        script(src='js/posts.js')

